@import "tailwindcss";


@theme {
  --font-okra: var(--font-okra), Helvetica, Arial, sans-serif;;
}

body{
  color: var(--color-black);
  background-color: var(--color-white);
  font-family: var(--font-okra);
  letter-spacing: -0.01em;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* globals.css */
@keyframes scrollY {
  0% { transform: translateY(0); }
  100% { transform: translateY(-100%); }
}

.auto-scroll-y {
  animation: scrollY 30s linear infinite;
}